/* ******************************
GENERAL
******************************* */
*, h1, h2, h3, h3, h4, h5, h6, p{
	outline: none;
	font-family: 'Cabin', sans-serif;
	font-size: 20;
/*	font-family: 'VT323', monospace;
	font-size: 15;*/
	/*font-family: 'Roboto', sans-serif;*/
}

.wrap{
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}


.off-canvas-wrapper{
	background-color: #222;

}

.progress-bar-d{
	height: 20px;
}

/* ******************************
IMAGE OVERLAY
******************************* */
.image-wrapper{
	width: 100%;
	height: 100%;
	border:1px solid rgba(0, 0, 0, 0.04);
	overflow: hidden;
	position: relative;
	text-align: center;
	border-radius: 4px;
}

.image-overlay-content{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.overlay-fade-in p{
	padding-top: 100px;
	letter-spacing: 0.15em;
	font-size: 28px;
	opacity: 0;
	transition: all 0.2s linear;
}

.overlay-fade-in img{
	transition: all 0.2s linear;
}

.overlay-fade-in .image-overlay-content{
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.4 ease-in-out;
}

.overlay-fade-in h2{
	color: #f2f2f2;
	font-size: 1.8rem;
	opacity: 0;
	margin-top: 60px;
	transition: all 0.2s ease-in-out;
	background: rgba(0, 0, 0, 0.7);
}
.overlay-fade-in:hover img{
	transform: scale(1.2);
}

.overlay-fade-in:hover .image-overlay-content{
	opacity: 1;
}
.overlay-fade-in:hover h2, .overlay-fade-in p {
	opacity: 1;
  	color: white;
}

.overlay-fade-in:hover p{
	transition-delay: 0.1s;
}
.icon-style{
	padding-top: 50px;
	padding-right: 20px;
	width:10%;
	opacity: 0.7;
}
/* ******************************
NAV - MOBILE
******************************* */

.title-bar{
	background-color: #222;
	text-align: center;
	font-size: 30px;
}

.sticky-mobile{
	width: 100%;
	background-color: rgba(0,0,0,1);
	height: 30px;
	padding-top: 10px;
	position: fixed;
  	z-index: 5;
  	top: 0;
}

.sticky-mobile a{
	color: rgba(255,255,255,1);
	font-weight: bold;
	line-height: 2;
}

.sticky-mobile a:hover{
	color: rgba(255,255,255,0.8);
}

#mobile-menu{
	background-color: #222;
	padding: 10px;
}


#mobile-menu li{
	list-style: none;
	margin-top: 50px;
}

#mobile-menu a{
	color: rgba(255,255,255,0.6);
	font-weight: bold;
	line-height: 2;
	font-size: 30px;
}

#mobile-menu a:hover{
	color: rgba(255,255,255,0.8);
}

.js-off-canvas-exit{
	background: rgba(0,0,0,0.5);
}

/* ******************************
NAV - DESKTOP
******************************* */
.nav-desktop{
	/*background-color: #223;*/
	background-color: #222;
	height: 80px
	padding: 0;

}

.site-logo a{
	color: white;
	line-height: 60px;
}
.site-logo a:hover{
	color: rgba(255,255,255,0.8);
}

.nav-desktop .menu-desktop{
	line-height: 60px; /*only works with inline & inline block*/
	background-color: transparent;
}

.menu > li > a{
	display: inline-block;  /*inline-block uses inline with block styling*/
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
	color: rgba(255,255,255, 0.9);
}

.menu > li > a:hover{
	background-color: rgba(255,255,255,0.1);
}

.sticky{
	padding: 0.5rem;
	width: 100%;
	background-color: rgba(0,0,0,1);
	height: 80px;
}

/* ******************************
ABOUT
******************************* */
.about{
	background-color: #999;
	height: 100%;
	padding: 80px 0px;
	background-image: url("../img/broken_noise.png");
	/*http://subtlepatterns.com/*/
}

.about h1, 
.about h3,
.about p{
	color: rgba(255,255,255,0.8);
	width: 70%;
}

/* ******************************
EXP
******************************* */
.exp{
	background-color: #FFF;
	height: 100%;
	padding: 30px 0px;
	text-align: center;
	//background-image: url("../img/broken_noise.png");
	/*http://subtlepatterns.com/*/
}

.exp h1,
.exp h3, 
.exp h4{
	color: rgba(0,0,0,0.8);
	margin: 0px;
	width: 100%;
}

.exp p{
	color: rgba(255,255,255,1);
	width: 100%;
}

/*.ubc{
	width:30%; 
}
.kinetix{
	width:50%; 
	padding:50px 0px 50px 0px;
}

.ggj{
	width:70%;
}*/
/* ******************************
SKILL
******************************* */
.skill{
	background-color: #999;
	height: 100%;
	padding: 30px 0px;
	text-align: center;
	//background-image: url("../img/broken_noise.png");
	/*http://subtlepatterns.com/*/
}

.skill h1,
.skill h3, 
.skill h4{
	color: rgba(0,0,0,0.8);
	margin: 0px;
	width: 100%;
}

.skill p{
	color: rgba(255,255,255,1);
	width: 100%;
}

/* ******************************
PROFESSIONAL PROJECTS
******************************* */
.professional-projects{
	background-color: #626262;
	height: 100%;
	padding: 30px 0px;
	text-align: center;
	/*http://subtlepatterns.com/*/
}

.professional-projects h1,
.professional-projects h3,
.professional-projects p{
	color: rgba(0,0,0,0.8);
	margin: 0px;
	width: 100%;
}

/* ******************************
ONGOING PROJECTS
******************************* */
.personal-projects{
	background-color: #AAA;
	height: 100%;
	padding: 30px 0px;
	text-align: center;
	/*http://subtlepatterns.com/*/
}

.personal-projects h1,
.personal-projects h3,
.personal-projects p{
	color: rgba(0,0,0,0.8);
	margin: 0px;
	width: 100%;
}
/* ******************************
PREVIOUS PROJECTS
******************************* */
.previous{
	background-color: #BBB;
	height: 100%;
	padding: 30px 0px;
	text-align: center;
	/*http://subtlepatterns.com/*/
}

.previous h1,
.previous h3,
.previous p{
	color: rgba(0,0,0,0.8);
	margin: 0px;
	width: 100%;
}
/* ******************************
MODAL SECTION
******************************* */
.modal-outer{
	opacity: 0.98;
}
.modal-content{
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 5%;
	
}
.modal-content > li{
	text-align: left;
}

/* ******************************
FOOTER
******************************* */
footer{
	background-color: #222;
	padding: 30px 0px;
}

footer h4{
	color: rgba(255,255,255,0.8);
	font-size: 1.3em; /*==16px; but it's relative to parent*/

}

footer hr{
	border-color: rgba(255,255,255,0.1);
	margin: 10px 0;

}
.icon-foot li{
	list-style: none;
	display: table-cell;
    vertical-align: middle;
}

.icon-foot li > a{
	border: 0;
	color: rgba(0,0,0,0.5);
	padding: 0px;
}
.icon-foot li > a:hover {
	border: 0;
	color: rgba(0,0,0,0.1);
}
/* ******************************
MEDIA QUERIES
******************************* */
@media (max-width: 639px){

	.nav-desktop{
		display: none;
	}
}

@media (max-width: 875px){

	.about p{
		width: 100%;
		margin: 0;
	}
}

/* ******************************
ABOUT
******************************* */
.privacyPolicy{
	background-color: #FFFFFF;
	height: 100%;
	padding: 80px 0px;
/*	background-image: url("../img/broken_noise.png");*/
	/*http://subtlepatterns.com/*/
}

.privacyPolicy h1, 
.privacyPolicy h3,
.privacyPolicy p{
	color: rgba(255,255,255,0.8);
	width: 70%;
}